<div class="general-container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="main-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="app-name">DAPP Compra de Vehiculos del Govierno</h1>
        <span class="spacer"></span>

        <button class="toolbar-settings-btn" mat-icon-button aria-label="Configuraciones" (click)="launchSettingsModal()">
            <mat-icon class="toolbar-icon">settings</mat-icon>
        </button>

    </mat-toolbar>

    <mat-sidenav-container class="main-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav opened="true" [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <app-side-nav></app-side-nav>
        </mat-sidenav>

        <mat-sidenav-content style="display: flex; justify-content: center; margin-top: 20px;">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
